@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TagHelpersApp


<div>
    @{
        foreach (var category in Model.AllCategories)
        {
            <div class="category-item" onclick="onClickHandler(@category.Id)">
                <h3>@category.Name</h3>
            </div>
            <div id="category-products-list-@category.Id" style="display:none">
                @foreach (var product in Model.AllProducts)
                {
                    if (product.Category == category)
                    {
                    <div class="row product-item">
                        <div class="product-item-name">
                            <h3>@product.Name</h3>
                        </div>
                        <div class="product-item-description">
                            <h3>@product.Description</h3>
                        </div>                        
                        <div class="product-item-image">
                            <img class="img-thumbnail" src="@product.ImagePath" alt="@product.Name" />
                        </div>
                    </div>
                        }
                    }
            </div>
        }
    }
</div>

<script>
    function onClickHandler(id) {
        let element = document.querySelector("#category-products-list-" + id);
        if (element.getAttribute("style") === "display:none") {
            element.removeAttribute("style");
        } else element.setAttribute("style", "display:none");
    }
</script>
