

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, TagHelpersApp


<div>
    @{
        foreach (var category in Model.AllCategories)
        {
            <div class="category-item" onclick="onClickHandler(@category.Id)">
                <h3>@category.Name</h3>
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-controller="Home" asp-action="RemoveCategory">
                        <input type="text" name="id" placeholder="Id" value="@category.Id" hidden />
                        <input type="submit" value="Удалить" />
                    </form>
                }
            </div>
            <div class="category-product-list" id="category-products-list-@category.Id" style="display:none">
                @foreach (var product in Model.AllProducts)
                {
                    if (product.Category == category)
                    {
                    <div class="row product-item">
                        <div class="product-item-name">
                            <h4>@product.Name</h4>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form method="post" asp-controller="Home" asp-action="RemoveProduct">
                                    <input type="text" name="id" placeholder="Id" value="@product.Id" hidden />
                                    <input type="submit" value="Удалить" />
                                </form>
                            }
                        </div>
                        <div class="product-item-description">
                            <h4>@product.Description</h4>
                        </div>                        
                        <div class="product-item-image">
                            <img class="img-thumbnail" src="@product.ImagePath" alt="@product.Name" />
                        </div>
                    </div>
                    }
                }
            </div>
        }
    }
</div>
